.slider-wrapper {
  height: 30em;
}

.img-wrapper {
  position: relative;
  height: 30em;
  overflow: hidden;
  text-align: center;
}

.slick-slide .img-wrapper img {
  display: unset;
  object-fit: contain;
  position: relative;
  width: inherit;
  height: inherit;
}

.img-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.dow {
  text-transform: capitalize;
}
