.category-menu {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Roboto", sans-serif;
}

.category-menu__title {
  font-size: 2em;
  padding: 1%;
  text-shadow: 1px 1px 4px black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-right: solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
}

.category-menu__description {
  padding: 2%;
  text-align: center;
  background-color: black;
  color: white;
}
