@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400');

.categories {
    background: black;
    height: 55px;
    width: 100%;
    color:white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px black solid;
}

.food{
    grid-column: 1;
    grid-row: 1;
    background-image: url(https://image.ibb.co/n8qvZS/food.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    filter: grayscale(100%);
    border: solid white 2px;
}

.food span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px black;
}

.food:hover { 
    filter: grayscale(0%);
    border: 0px;
}

.stores{
    grid-column: 2;
    grid-row: 1;
    background-image: url(https://image.ibb.co/iafEeS/stores.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    filter: grayscale(100%);
    border: solid white 2px;
}

.stores span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px black;        
}

.stores:hover { 
    filter: grayscale(0%);
    border: 0px;
}


.services{
    grid-column: 3;
    grid-row: 1;
    background-image: url(https://image.ibb.co/jW8BR7/services.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    filter: grayscale(100%);
    border: solid white 2px;
}

.services span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px black;
}

.services:hover { 
    filter: grayscale(0%);
    border: 0px;
}

.nightlife{
    grid-column: 4;
    grid-row: 1;
    background-image: url(https://image.ibb.co/iEJ0KS/nightlife.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    filter: grayscale(100%);
    border: solid white 2px;
}

.nightlife span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px black;
}
.nightlife:hover { 
    filter: grayscale(0%);
    border: 0px;
}
/* 


*/