@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400');


.food{
    width: 100vw;
    height: 55px;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 100%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.food-title{
    grid-column:  1;
    grid-row: 1;
    font-size: 2.5em;
    padding: 1%;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    color: black;
    background-image: url(https://static1.squarespace.com/static/596fccca5016e1310657900d/t/5ab4e8e4562fa77d174ce483/1521805546348/dylan-nolte-546887-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-right: solid white;

}


.food-description{
    grid-column: 2;
    grid-row: 1;
    padding: 1%;
    text-align: center;
    background-color:black;
    color:white;
}




