@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400');


.food{
    width:100%;
    height: 150px;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%; 
    grid-template-rows: 50% 50%;
    font-family: 'Roboto', sans-serif;
}

.food-title{
    grid-column:  3;
    grid-row: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    text-align: center;
    align-self: center;
    text-shadow: 1px 1px 4px black;
}

.food-image{
    grid-column: 2;
    grid-row: 1 / 3;
    background-image: url(https://static1.squarespace.com/static/596fccca5016e1310657900d/t/5ab4e8e4562fa77d174ce483/1521805546348/dylan-nolte-546887-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.food-description{
    grid-column: 3;
    grid-row: 2;
    padding: 2%;
    text-align: center;
}




