
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400');
.home{
    background-color: #ffffff;
    height: 30vh;
    width:100%;
    color: black;
    display: grid;
    grid-template-columns: 25% 50% 25%; 
    grid-template-rows: 30% 15% 5% 20% 30%;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://image.ibb.co/eU3Eg7/frontsearch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 450px) {
    .home{
        background-color: #ffffff;
        height: 30vh;
        width:100%;
        color: black;
        display: grid;
        grid-template-columns: 10% 80% 10%; 
        grid-template-rows: 30% 15% 5% 20% 30%;
        font-family: 'Roboto', sans-serif;
        background-image: url(https://image.ibb.co/eU3Eg7/frontsearch.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

  }