.navigation{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1em;
    color: black;
    font-family: 'Special Elite', sans-serif;
    border-bottom: 1px black solid;
    font-size: 18px;
    text-align: center;
    padding-top:0.2em;
}
