@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400");

.storeInfoBox {
  height: 77vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 7% 7% 7% 8% 7% 7% 7%;
  grid-template-rows: 5% 3.5% 3.5% 3.5% 3.5% 41% 40%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  margin-top:5px;
}

.storeInfoPhotos {
  grid-column: 1 ;
  grid-row: 1 / 8;
  overflow: hidden;
  border-right: solid white;
}


.storeInfoName {
  grid-column: 2 / 9;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 0.5px black;
}

.storeInfoAddress {
  grid-column: 2 / 9;
  grid-row: 2;
  margin: auto;
}

.storeInfoPhone {
  grid-column: 2 / 9;
  grid-row: 3;
  margin: auto;
}

.storeInfoBlurb {
  grid-column: 2 / 9;
  grid-row: 6;
  margin: auto;
}

.storeInfoMaps {
  grid-column: 2 / 9;
  grid-row: 7;

}

.storeInfoMon {
  grid-column: 2;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoMonH {
  grid-column: 2;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}

.storeInfoTues {
  grid-column: 3;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoTuesH {
  grid-column: 3;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}
.storeInfoWed {
  grid-column: 4;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoWedH {
  grid-column: 4;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}
.storeInfoThurs {
  grid-column: 5;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoThursH {
  grid-column: 5;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}
.storeInfoFri {
  grid-column: 6;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoFriH {
  grid-column: 6;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}
.storeInfoSat {
  grid-column: 7;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: solid white;
}

.storeInfoSatH {
  grid-column: 7;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-right: solid white;
}
.storeInfoSun {
  grid-column: 8;
  grid-row: 4;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.storeInfoSunH {
  grid-column: 8;
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

}
