.tileBox {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-family: 'Roboto', sans-serif;
  align-content: center;
  text-align: center;
}

.tile {
  height: 25%;
  width: 99%;
  color: black;
  align-content: center;
  text-align: center;
}
.tile:hover {
  font-size: 1em;
  background-color: rgb(255, 250, 187);
}


.tileImage {
  height: 250px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  filter: grayscale(75%);

}

.tileImage:hover{
  filter: grayscale(0%);
}

 .tileImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;

 }

.tileName {
  font-size: 1em;
}



@media screen and (max-width: 450px) {
  .tileBox {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Roboto', sans-serif;
  }
  
  .tile {
    width: 100%;
    justify-self: center;
    align-content: center;
    text-align: center;
    color: black;

  }
  
  .tileImage {
    width: 150px;
    height: 150px;
  }
  
  .tileName {
    font-size: 20px;
  }
}