@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
  height: 100%;
}

body{
  background-color:#DAECF3;
  color:blue;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
